@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
  display: flex;
  flex-direction: column !important;
  width: 100%;
  height: 100vh !important;
  max-height: 100vh;
  background-image: linear-gradient(to right top, #ffbce3, #eeb7e7, #dab2ea, #c4afec, #abaceb, #98b2f2, #82b9f7, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  z-index: 0 !important;

  margin: 0 !important;
  padding: 0 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  -webkit-text-size-adjust: none !important;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



.body {
  display: flex;
  flex-direction: column !important;
  width: 100%;
  height: 100vh !important;
  max-height: 100vh;
  background-image: linear-gradient(to right top, #ffbce3, #eeb7e7, #dab2ea, #c4afec, #abaceb, #98b2f2, #82b9f7, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  z-index: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;

}



.nav {
  z-index: 0 !important;
  height: 8.4vh !important;
  background-color: #84b4f4 !important;
  min-height: fit-content !important;
}






.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8.4vh !important;
  z-index: 0 !important;
  min-height: fit-content !important;
}








.prompt {
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  font-size: x-large;
}

.logo,
.logoLoading {
  font-family: 'Roboto' !important;
  font-weight: 700 !important;


}

.response .menuItem,
.prompt {
  font-family: 'Roboto' !important;
}

.help,
.questions,
.response,
.install {
  font-family: 'Roboto' !important;
  font-weight: 700 !important;
}



.menu {
  display: flex;
  flex-direction: column !important;
  gap: 1vh !important;


}

.rsc-content {
  height: 83vh !important;
  width: 100% !important;
  margin-bottom: -2vh !important;
  padding-bottom: 2vh !important;
  padding-top: 2vh !important;


}

.ios,
.droid {
  background-color: white !important;
  color: white !important;
}

@media only screen and (max-width: 568px) {

  .rsc-content {
    width: 100% !important;
    margin-bottom: -1.6vh !important;
    padding-bottom: 2vh !important;
    padding-top: 2vh !important;
    height: 82vh !important;
  }

  .rsc-container {
    border: 0px !important;
    box-shadow: none !important;
    height: 91.6vh !important;
    max-height: 91.6vh !important;
    width: 100% !important;
    margin-top: 8.4vh !important;

  }

  .nav {
    z-index: 1000 !important;
    background-color: #84b4f4 !important;
  }



  .hDcLmI {
    max-height: 91.6vh !important;
  }




}



.rsc-container {

  border: 0px !important;
  box-shadow: none !important;
  height: 91.6vh !important;
  width: 100% !important;
  z-index: 0 !important;
  margin-top: 8.4vh !important;
}

.rsc-input {
  border-radius: 0 !important;
  height: 11.4vh;
  display: flex !important;
  align-items: center !important;
  justify-items: center !important;

}

.rsc-ts-bubble {
  font-size: medium !important;
}

.rsc-submit-button {
  padding-top: 3.6vh !important;

}

a {
  text-decoration: none !important;
}